Desktop/SpaceRidePruebas2/src/META-INF/wsdl/localhost_8080/SpaceRide_WEB/SpaceRide.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="ChecarAnswer" type="tns:ChecarAnswer"/>

<xs:element name="ChecarAnswerResponse" type="tns:ChecarAnswerResponse"/>

<xs:element name="EnviaPreg" type="tns:EnviaPreg"/>

<xs:element name="EnviaPregResponse" type="tns:EnviaPregResponse"/>

<xs:complexType name="EnviaPreg">
<xs:sequence>
<xs:element name="diff" type="xs:string" minOccurs="0"/>
<xs:element name="area" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviaPregResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ChecarAnswer">
<xs:sequence>
<xs:element name="answer" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ChecarAnswerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>